// typography
$headingFont: "Oswald", sans-serif;
$contentFont: "Cardo", serif;

//colors
$clrPrimary1: #19d6ba;
$clrPrimary2: #dfe7e6;
$clrPrimary3: #0b2832;
$clrSecondary1: #aed0cb;
$clrSecondary2: #478196;
