@import "../../styles/variables";

header {
  background-color: $clrPrimary3;
}
.headerContainer {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0.5rem $fluidPadding;
}
.headerBrand {
  display: flex;
  justify-content: space-between;
  max-width: 9rem;
  max-height: 8rem;
}
.headerTypography > * {
  font-family: $headingFont;
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-decoration: none;
  color: $clrPrimary1;
}

