@import "../../styles/utils/variables";

header {
  // background-color: $clrPrimary3;
  // background-color: pink;
  // position: relative;
  position: fixed;
  width: 100%;
  // max-width: 100vw;
  z-index: 1;

  height: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.headerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  // padding: 0.5rem $paddingFluid;
}
.headerBrand {
  display: flex;
  justify-content: space-between;
  max-width: 9rem;
  max-height: 8rem;
}
.headerTypography > * {
  font-family: $headingFont;
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-decoration: none;
  color: $clrPrimary1;
}
