.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  // transition: all 0.5s ease-out;
  &--top {
    max-width: 600px;
    width: 50vw;
    // transition: all 2.5s ease-out;
  }
  &__menu {
    color: white;
    span:nth-child(2) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
